@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

@theme {
  --color-primary: #f7fee7;
  --color-primary-dark: #0a1128;
}

html,
body,
#root {
  height: 100%;
}

body {
  background-color: var(--dark-color);
  color: var(--light-color);
  overflow-x: hidden;
  min-height: 100vh;
}

.bg-primary-color {
  background-color: var(--dark-color);
  /* color: var(--light-color); */
}

.logo {
  width: 40px;
  height: 40px;
  -webkit-mask: url("/Logo.svg") no-repeat center;
  mask: url("/Logo.svg") no-repeat center;
  -webkit-mask-size: contain;
  mask-size: contain;
  background-color: var(--color-purple-400);
  box-shadow: var(--shadow-md);
}

.hover-effect:hover {
  color: white;
  background-color: var(--color-purple-500);
  transition: 0.4s;
  transition-timing-function: var(--ease-in-out);
  cursor: pointer;
}

/* p-2 shadow-md shadow-purple-400 text-purple-400 hover:text-purple-400 transition-all ease-in-out */
